$fa-font-path: "../webfonts";
$purpleLight:#302043;
$purpleDark:#282639;
$neonGreen:#92CF48;
$darkGrey:#F4F6F9;
$lightGrey:#F4F6F3;

$grid-column:12;
$grid-max-width:1200px;
$breakpoint-small:"only screen and (min-width:0px)";
$breakpoint-medium:"only screen and (min-width:768px)";
$breakpoint-large:"only screen and (min-width:1000px)";
$breakpoint-xl:"only screen and (min-width:1300px)";