.testimonials{
    width: 100%;
    padding: 50px 0;
    background-color: #fff;
    text-align: center;
    color: #111;
}
.testimonials .success-testimonial{
   width: 200px;
   height: 200px;
   margin: 50px auto;
   padding: 10px 0;
}
.testimonials h2{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 4px 0 ; 
    letter-spacing: 0.2rem;
}
.testimonials p{
  width: 80%;
    margin: 2rem auto;
    padding: 0 1rem;
}